<header class="page-header header container-fluid">
    <div class="overlay"></div>

    <div class="description">
        <h1>Welcome to Home page</h1>
        <p>This is a demo web page where an employee can Register his/her credentials and login to the portal</p>
        <button class="btn btn-outline-secondary btn-lg" (click) = "navigateToRegister()">Register</button>
        <button class="btn btn-outline-secondary btn-lg" (click) = 'navigateToLogin()'>Login</button>
    </div>
    
</header>